# CMake build output
/build/
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/Makefile
/compile_commands.json

# Local IDE settings
/.vscode/*
!/.vscode/tasks.json

# Build artifacts
*.o
*.a
*.so
*.dylib
*.exe

# Local caches
.cache/
